QingYunSoft/Connected Services/VentasWS/VentasWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VentasWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/VentasWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="listarAlmacenPorNombre">
    <part name="parameters" element="tns:listarAlmacenPorNombre" />
  </message>
  <message name="listarAlmacenPorNombreResponse">
    <part name="parameters" element="tns:listarAlmacenPorNombreResponse" />
  </message>
  <message name="listarProductosPorNombre">
    <part name="parameters" element="tns:listarProductosPorNombre" />
  </message>
  <message name="listarProductosPorNombreResponse">
    <part name="parameters" element="tns:listarProductosPorNombreResponse" />
  </message>
  <message name="buscarProductoPorID">
    <part name="parameters" element="tns:buscarProductoPorID" />
  </message>
  <message name="buscarProductoPorIDResponse">
    <part name="parameters" element="tns:buscarProductoPorIDResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="listarStockPorIdAlmacen">
    <part name="parameters" element="tns:listarStockPorIdAlmacen" />
  </message>
  <message name="listarStockPorIdAlmacenResponse">
    <part name="parameters" element="tns:listarStockPorIdAlmacenResponse" />
  </message>
  <message name="modificarAlmacen">
    <part name="parameters" element="tns:modificarAlmacen" />
  </message>
  <message name="modificarAlmacenResponse">
    <part name="parameters" element="tns:modificarAlmacenResponse" />
  </message>
  <message name="listarAlmacen">
    <part name="parameters" element="tns:listarAlmacen" />
  </message>
  <message name="listarAlmacenResponse">
    <part name="parameters" element="tns:listarAlmacenResponse" />
  </message>
  <message name="insertarAlmacen">
    <part name="parameters" element="tns:insertarAlmacen" />
  </message>
  <message name="insertarAlmacenResponse">
    <part name="parameters" element="tns:insertarAlmacenResponse" />
  </message>
  <message name="modificarStock">
    <part name="parameters" element="tns:modificarStock" />
  </message>
  <message name="modificarStockResponse">
    <part name="parameters" element="tns:modificarStockResponse" />
  </message>
  <message name="eliminarStock">
    <part name="parameters" element="tns:eliminarStock" />
  </message>
  <message name="eliminarStockResponse">
    <part name="parameters" element="tns:eliminarStockResponse" />
  </message>
  <message name="insertarStock">
    <part name="parameters" element="tns:insertarStock" />
  </message>
  <message name="insertarStockResponse">
    <part name="parameters" element="tns:insertarStockResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="eliminarAlmacen">
    <part name="parameters" element="tns:eliminarAlmacen" />
  </message>
  <message name="eliminarAlmacenResponse">
    <part name="parameters" element="tns:eliminarAlmacenResponse" />
  </message>
  <message name="listarSupervisores">
    <part name="parameters" element="tns:listarSupervisores" />
  </message>
  <message name="listarSupervisoresResponse">
    <part name="parameters" element="tns:listarSupervisoresResponse" />
  </message>
  <message name="listarStockPorIdAlmacenYNombre">
    <part name="parameters" element="tns:listarStockPorIdAlmacenYNombre" />
  </message>
  <message name="listarStockPorIdAlmacenYNombreResponse">
    <part name="parameters" element="tns:listarStockPorIdAlmacenYNombreResponse" />
  </message>
  <portType name="VentasWS">
    <operation name="modificarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="listarAlmacenPorNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarAlmacenPorNombreRequest" message="tns:listarAlmacenPorNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarAlmacenPorNombreResponse" message="tns:listarAlmacenPorNombreResponse" />
    </operation>
    <operation name="listarProductosPorNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarProductosPorNombreRequest" message="tns:listarProductosPorNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarProductosPorNombreResponse" message="tns:listarProductosPorNombreResponse" />
    </operation>
    <operation name="buscarProductoPorID">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/buscarProductoPorIDRequest" message="tns:buscarProductoPorID" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/buscarProductoPorIDResponse" message="tns:buscarProductoPorIDResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="listarStockPorIdAlmacen">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarStockPorIdAlmacenRequest" message="tns:listarStockPorIdAlmacen" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarStockPorIdAlmacenResponse" message="tns:listarStockPorIdAlmacenResponse" />
    </operation>
    <operation name="modificarAlmacen">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarAlmacenRequest" message="tns:modificarAlmacen" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarAlmacenResponse" message="tns:modificarAlmacenResponse" />
    </operation>
    <operation name="listarAlmacen">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarAlmacenRequest" message="tns:listarAlmacen" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarAlmacenResponse" message="tns:listarAlmacenResponse" />
    </operation>
    <operation name="insertarAlmacen">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarAlmacenRequest" message="tns:insertarAlmacen" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarAlmacenResponse" message="tns:insertarAlmacenResponse" />
    </operation>
    <operation name="modificarStock">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarStockRequest" message="tns:modificarStock" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/modificarStockResponse" message="tns:modificarStockResponse" />
    </operation>
    <operation name="eliminarStock">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarStockRequest" message="tns:eliminarStock" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarStockResponse" message="tns:eliminarStockResponse" />
    </operation>
    <operation name="insertarStock">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarStockRequest" message="tns:insertarStock" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarStockResponse" message="tns:insertarStockResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="eliminarAlmacen">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarAlmacenRequest" message="tns:eliminarAlmacen" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/eliminarAlmacenResponse" message="tns:eliminarAlmacenResponse" />
    </operation>
    <operation name="listarSupervisores">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarSupervisoresRequest" message="tns:listarSupervisores" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarSupervisoresResponse" message="tns:listarSupervisoresResponse" />
    </operation>
    <operation name="listarStockPorIdAlmacenYNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarStockPorIdAlmacenYNombreRequest" message="tns:listarStockPorIdAlmacenYNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/VentasWS/listarStockPorIdAlmacenYNombreResponse" message="tns:listarStockPorIdAlmacenYNombreResponse" />
    </operation>
  </portType>
  <binding name="VentasWSPortBinding" type="tns:VentasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlmacenPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProductoPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarStockPorIdAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarStock">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSupervisores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarStockPorIdAlmacenYNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VentasWS">
    <port name="VentasWSPort" binding="tns:VentasWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/VentasWS" />
    </port>
  </service>
</definitions>