QingYunSoft/Connected Services/RRHHWS/RRHHWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador" />
  <xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse" />
  <xs:element name="eliminarSupervisor" type="tns:eliminarSupervisor" />
  <xs:element name="eliminarSupervisorResponse" type="tns:eliminarSupervisorResponse" />
  <xs:element name="eliminarVendedor" type="tns:eliminarVendedor" />
  <xs:element name="eliminarVendedorResponse" type="tns:eliminarVendedorResponse" />
  <xs:element name="insertarAdministrador" type="tns:insertarAdministrador" />
  <xs:element name="insertarAdministradorResponse" type="tns:insertarAdministradorResponse" />
  <xs:element name="insertarSupervisor" type="tns:insertarSupervisor" />
  <xs:element name="insertarSupervisorResponse" type="tns:insertarSupervisorResponse" />
  <xs:element name="insertarVendedor" type="tns:insertarVendedor" />
  <xs:element name="insertarVendedorResponse" type="tns:insertarVendedorResponse" />
  <xs:element name="listarAdministradores" type="tns:listarAdministradores" />
  <xs:element name="listarAdministradoresPorDocumentoNombre" type="tns:listarAdministradoresPorDocumentoNombre" />
  <xs:element name="listarAdministradoresPorDocumentoNombreResponse" type="tns:listarAdministradoresPorDocumentoNombreResponse" />
  <xs:element name="listarAdministradoresResponse" type="tns:listarAdministradoresResponse" />
  <xs:element name="listarSupervisores" type="tns:listarSupervisores" />
  <xs:element name="listarSupervisoresPorDocumentoNombre" type="tns:listarSupervisoresPorDocumentoNombre" />
  <xs:element name="listarSupervisoresPorDocumentoNombreResponse" type="tns:listarSupervisoresPorDocumentoNombreResponse" />
  <xs:element name="listarSupervisoresResponse" type="tns:listarSupervisoresResponse" />
  <xs:element name="listarVendedores" type="tns:listarVendedores" />
  <xs:element name="listarVendedoresPorDocumentoNombre" type="tns:listarVendedoresPorDocumentoNombre" />
  <xs:element name="listarVendedoresPorDocumentoNombreResponse" type="tns:listarVendedoresPorDocumentoNombreResponse" />
  <xs:element name="listarVendedoresResponse" type="tns:listarVendedoresResponse" />
  <xs:element name="modificarAdministrador" type="tns:modificarAdministrador" />
  <xs:element name="modificarAdministradorResponse" type="tns:modificarAdministradorResponse" />
  <xs:element name="modificarSupervisor" type="tns:modificarSupervisor" />
  <xs:element name="modificarSupervisorResponse" type="tns:modificarSupervisorResponse" />
  <xs:element name="modificarVendedor" type="tns:modificarVendedor" />
  <xs:element name="modificarVendedorResponse" type="tns:modificarVendedorResponse" />
  <xs:element name="verificarCuentaUsuario" type="tns:verificarCuentaUsuario" />
  <xs:element name="verificarCuentaUsuarioResponse" type="tns:verificarCuentaUsuarioResponse" />
  <xs:complexType name="insertarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
          <xs:element name="idUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numDeDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ordenesDeCompra" nillable="true" type="tns:ordenDeCompra" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDeDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenDeCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccionDeEntrega" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documentosCredito" nillable="true" type="tns:documentoCredito" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documentosDebito" nillable="true" type="tns:documentoDebito" />
      <xs:element minOccurs="0" name="fechaDeCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaDeEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="formaDeEntrega" type="tns:formaDeEntrega" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idCliente" type="xs:int" />
      <xs:element name="idVendedor" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
      <xs:element name="monto" type="xs:double" />
      <xs:element name="pagado" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pedidos" nillable="true" type="tns:pedido" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reclamos" nillable="true" type="tns:reclamo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idDocumentoDebito" type="xs:int" />
      <xs:element name="idOrdenDeCompra" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviatura" type="xs:string" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cambios" nillable="true" type="tns:tipoDeCambio" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeCambio">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="cambio" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idMoneda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoDebito">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="anulado" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documentosCredito" nillable="true" type="tns:documentoCredito" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idOrdenDeCompra" type="xs:int" />
      <xs:element name="impuesto" type="xs:double" />
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
      <xs:element name="monto" type="xs:double" />
      <xs:element name="saldo" type="xs:double" />
      <xs:element minOccurs="0" name="terminoDePago" type="tns:terminoDePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="terminoDePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaLimite" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="montoCuota" type="xs:double" />
      <xs:element name="numeroCuota" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idOrdenDeCompra" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reclamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="atendido" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="devoluciones" nillable="true" type="tns:devolucion" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idOrdenDeCompra" type="xs:int" />
      <xs:element minOccurs="0" name="justificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="idReclamo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradoresPorDocumentoNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="docNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAdministradoresPorDocumentoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSupervisoresPorDocumentoNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="docNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSupervisoresPorDocumentoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supervisorDeAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisorDeAlmacen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoLote" type="xs:string" />
      <xs:element name="costo" type="xs:double" />
      <xs:element name="devuelto" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaDeIngreso" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idAlamcen" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVendedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVendedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vendedor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="cantidadVentas" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modificarVendedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendedor" type="tns:vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarVendedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministrador">
    <xs:sequence>
      <xs:element name="administrador" type="xs:int" />
      <xs:element minOccurs="0" name="area" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSupervisores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSupervisoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supervisorDeAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVendedor">
    <xs:sequence>
      <xs:element name="vendedor" type="xs:int" />
      <xs:element name="cantidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVendedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSupervisor">
    <xs:sequence>
      <xs:element name="supervisor" type="xs:int" />
      <xs:element name="almacen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVendedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="vendedor" type="tns:vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVendedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaUsuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisorDeAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVendedoresPorDocumentoNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="docNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVendedoresPorDocumentoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisorDeAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="formaDeEntrega">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EnAlmacen" />
      <xs:enumeration value="ADestino" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDeDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="Pasaporte" />
      <xs:enumeration value="PNAC" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>