QingYunSoft/Connected Services/RRHHWS/RRHHWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RRHHWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/RRHHWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarAdministradores">
    <part name="parameters" element="tns:listarAdministradores" />
  </message>
  <message name="listarAdministradoresResponse">
    <part name="parameters" element="tns:listarAdministradoresResponse" />
  </message>
  <message name="modificarVendedor">
    <part name="parameters" element="tns:modificarVendedor" />
  </message>
  <message name="modificarVendedorResponse">
    <part name="parameters" element="tns:modificarVendedorResponse" />
  </message>
  <message name="modificarSupervisor">
    <part name="parameters" element="tns:modificarSupervisor" />
  </message>
  <message name="modificarSupervisorResponse">
    <part name="parameters" element="tns:modificarSupervisorResponse" />
  </message>
  <message name="eliminarSupervisor">
    <part name="parameters" element="tns:eliminarSupervisor" />
  </message>
  <message name="eliminarSupervisorResponse">
    <part name="parameters" element="tns:eliminarSupervisorResponse" />
  </message>
  <message name="insertarAdministrador">
    <part name="parameters" element="tns:insertarAdministrador" />
  </message>
  <message name="insertarAdministradorResponse">
    <part name="parameters" element="tns:insertarAdministradorResponse" />
  </message>
  <message name="insertarSupervisor">
    <part name="parameters" element="tns:insertarSupervisor" />
  </message>
  <message name="insertarSupervisorResponse">
    <part name="parameters" element="tns:insertarSupervisorResponse" />
  </message>
  <message name="modificarAdministrador">
    <part name="parameters" element="tns:modificarAdministrador" />
  </message>
  <message name="modificarAdministradorResponse">
    <part name="parameters" element="tns:modificarAdministradorResponse" />
  </message>
  <message name="eliminarAdministrador">
    <part name="parameters" element="tns:eliminarAdministrador" />
  </message>
  <message name="eliminarAdministradorResponse">
    <part name="parameters" element="tns:eliminarAdministradorResponse" />
  </message>
  <message name="listarSupervisores">
    <part name="parameters" element="tns:listarSupervisores" />
  </message>
  <message name="listarSupervisoresResponse">
    <part name="parameters" element="tns:listarSupervisoresResponse" />
  </message>
  <message name="insertarVendedor">
    <part name="parameters" element="tns:insertarVendedor" />
  </message>
  <message name="insertarVendedorResponse">
    <part name="parameters" element="tns:insertarVendedorResponse" />
  </message>
  <message name="eliminarVendedor">
    <part name="parameters" element="tns:eliminarVendedor" />
  </message>
  <message name="eliminarVendedorResponse">
    <part name="parameters" element="tns:eliminarVendedorResponse" />
  </message>
  <message name="listarVendedores">
    <part name="parameters" element="tns:listarVendedores" />
  </message>
  <message name="listarVendedoresResponse">
    <part name="parameters" element="tns:listarVendedoresResponse" />
  </message>
  <message name="listarAdministradoresPorDocumentoNombre">
    <part name="parameters" element="tns:listarAdministradoresPorDocumentoNombre" />
  </message>
  <message name="listarAdministradoresPorDocumentoNombreResponse">
    <part name="parameters" element="tns:listarAdministradoresPorDocumentoNombreResponse" />
  </message>
  <message name="listarVendedoresPorDocumentoNombre">
    <part name="parameters" element="tns:listarVendedoresPorDocumentoNombre" />
  </message>
  <message name="listarVendedoresPorDocumentoNombreResponse">
    <part name="parameters" element="tns:listarVendedoresPorDocumentoNombreResponse" />
  </message>
  <message name="listarSupervisoresPorDocumentoNombre">
    <part name="parameters" element="tns:listarSupervisoresPorDocumentoNombre" />
  </message>
  <message name="listarSupervisoresPorDocumentoNombreResponse">
    <part name="parameters" element="tns:listarSupervisoresPorDocumentoNombreResponse" />
  </message>
  <portType name="RRHHWS">
    <operation name="listarAdministradores">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarAdministradoresRequest" message="tns:listarAdministradores" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarAdministradoresResponse" message="tns:listarAdministradoresResponse" />
    </operation>
    <operation name="modificarVendedor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarVendedorRequest" message="tns:modificarVendedor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarVendedorResponse" message="tns:modificarVendedorResponse" />
    </operation>
    <operation name="modificarSupervisor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarSupervisorRequest" message="tns:modificarSupervisor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarSupervisorResponse" message="tns:modificarSupervisorResponse" />
    </operation>
    <operation name="eliminarSupervisor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarSupervisorRequest" message="tns:eliminarSupervisor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarSupervisorResponse" message="tns:eliminarSupervisorResponse" />
    </operation>
    <operation name="insertarAdministrador">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarAdministradorRequest" message="tns:insertarAdministrador" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarAdministradorResponse" message="tns:insertarAdministradorResponse" />
    </operation>
    <operation name="insertarSupervisor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarSupervisorRequest" message="tns:insertarSupervisor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarSupervisorResponse" message="tns:insertarSupervisorResponse" />
    </operation>
    <operation name="modificarAdministrador">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarAdministradorRequest" message="tns:modificarAdministrador" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarAdministradorResponse" message="tns:modificarAdministradorResponse" />
    </operation>
    <operation name="eliminarAdministrador">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarAdministradorRequest" message="tns:eliminarAdministrador" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarAdministradorResponse" message="tns:eliminarAdministradorResponse" />
    </operation>
    <operation name="listarSupervisores">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarSupervisoresRequest" message="tns:listarSupervisores" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarSupervisoresResponse" message="tns:listarSupervisoresResponse" />
    </operation>
    <operation name="insertarVendedor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarVendedorRequest" message="tns:insertarVendedor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarVendedorResponse" message="tns:insertarVendedorResponse" />
    </operation>
    <operation name="eliminarVendedor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarVendedorRequest" message="tns:eliminarVendedor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarVendedorResponse" message="tns:eliminarVendedorResponse" />
    </operation>
    <operation name="listarVendedores">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarVendedoresRequest" message="tns:listarVendedores" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarVendedoresResponse" message="tns:listarVendedoresResponse" />
    </operation>
    <operation name="listarAdministradoresPorDocumentoNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarAdministradoresPorDocumentoNombreRequest" message="tns:listarAdministradoresPorDocumentoNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarAdministradoresPorDocumentoNombreResponse" message="tns:listarAdministradoresPorDocumentoNombreResponse" />
    </operation>
    <operation name="listarVendedoresPorDocumentoNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarVendedoresPorDocumentoNombreRequest" message="tns:listarVendedoresPorDocumentoNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarVendedoresPorDocumentoNombreResponse" message="tns:listarVendedoresPorDocumentoNombreResponse" />
    </operation>
    <operation name="listarSupervisoresPorDocumentoNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarSupervisoresPorDocumentoNombreRequest" message="tns:listarSupervisoresPorDocumentoNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarSupervisoresPorDocumentoNombreResponse" message="tns:listarSupervisoresPorDocumentoNombreResponse" />
    </operation>
  </portType>
  <binding name="RRHHWSPortBinding" type="tns:RRHHWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSupervisores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVendedores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAdministradoresPorDocumentoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVendedoresPorDocumentoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSupervisoresPorDocumentoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RRHHWS">
    <port name="RRHHWSPort" binding="tns:RRHHWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/RRHHWS" />
    </port>
  </service>
</definitions>