QingYunSoft/Connected Services/RRHHWS/RRHHWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RRHHWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/RRHHWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="insertarVendedor">
    <part name="parameters" element="tns:insertarVendedor" />
  </message>
  <message name="insertarVendedorResponse">
    <part name="parameters" element="tns:insertarVendedorResponse" />
  </message>
  <message name="insertarAdministrador">
    <part name="parameters" element="tns:insertarAdministrador" />
  </message>
  <message name="insertarAdministradorResponse">
    <part name="parameters" element="tns:insertarAdministradorResponse" />
  </message>
  <message name="insertarSupervisor">
    <part name="parameters" element="tns:insertarSupervisor" />
  </message>
  <message name="insertarSupervisorResponse">
    <part name="parameters" element="tns:insertarSupervisorResponse" />
  </message>
  <message name="verificarCuentaUsuario">
    <part name="parameters" element="tns:verificarCuentaUsuario" />
  </message>
  <message name="verificarCuentaUsuarioResponse">
    <part name="parameters" element="tns:verificarCuentaUsuarioResponse" />
  </message>
  <message name="modificarSupervisor">
    <part name="parameters" element="tns:modificarSupervisor" />
  </message>
  <message name="modificarSupervisorResponse">
    <part name="parameters" element="tns:modificarSupervisorResponse" />
  </message>
  <message name="modificarAdministrador">
    <part name="parameters" element="tns:modificarAdministrador" />
  </message>
  <message name="modificarAdministradorResponse">
    <part name="parameters" element="tns:modificarAdministradorResponse" />
  </message>
  <message name="modificarVendedor">
    <part name="parameters" element="tns:modificarVendedor" />
  </message>
  <message name="modificarVendedorResponse">
    <part name="parameters" element="tns:modificarVendedorResponse" />
  </message>
  <message name="listarUsuarioPorDocumentoNombre">
    <part name="parameters" element="tns:listarUsuarioPorDocumentoNombre" />
  </message>
  <message name="listarUsuarioPorDocumentoNombreResponse">
    <part name="parameters" element="tns:listarUsuarioPorDocumentoNombreResponse" />
  </message>
  <portType name="RRHHWS">
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="insertarVendedor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarVendedorRequest" message="tns:insertarVendedor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarVendedorResponse" message="tns:insertarVendedorResponse" />
    </operation>
    <operation name="insertarAdministrador">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarAdministradorRequest" message="tns:insertarAdministrador" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarAdministradorResponse" message="tns:insertarAdministradorResponse" />
    </operation>
    <operation name="insertarSupervisor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarSupervisorRequest" message="tns:insertarSupervisor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarSupervisorResponse" message="tns:insertarSupervisorResponse" />
    </operation>
    <operation name="verificarCuentaUsuario">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/verificarCuentaUsuarioRequest" message="tns:verificarCuentaUsuario" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/verificarCuentaUsuarioResponse" message="tns:verificarCuentaUsuarioResponse" />
    </operation>
    <operation name="modificarSupervisor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarSupervisorRequest" message="tns:modificarSupervisor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarSupervisorResponse" message="tns:modificarSupervisorResponse" />
    </operation>
    <operation name="modificarAdministrador">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarAdministradorRequest" message="tns:modificarAdministrador" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarAdministradorResponse" message="tns:modificarAdministradorResponse" />
    </operation>
    <operation name="modificarVendedor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarVendedorRequest" message="tns:modificarVendedor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/modificarVendedorResponse" message="tns:modificarVendedorResponse" />
    </operation>
    <operation name="listarUsuarioPorDocumentoNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarUsuarioPorDocumentoNombreRequest" message="tns:listarUsuarioPorDocumentoNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarUsuarioPorDocumentoNombreResponse" message="tns:listarUsuarioPorDocumentoNombreResponse" />
    </operation>
  </portType>
  <binding name="RRHHWSPortBinding" type="tns:RRHHWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarVendedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarioPorDocumentoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RRHHWS">
    <port name="RRHHWSPort" binding="tns:RRHHWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/RRHHWS" />
    </port>
  </service>
</definitions>