QingYunSoft/Connected Services/GestClientesWS/GestClientesWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GestClientesWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/GestClientesWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarEmpresa">
    <part name="parameters" element="tns:insertarEmpresa" />
  </message>
  <message name="insertarEmpresaResponse">
    <part name="parameters" element="tns:insertarEmpresaResponse" />
  </message>
  <message name="listarClientes">
    <part name="parameters" element="tns:listarClientes" />
  </message>
  <message name="listarClientesResponse">
    <part name="parameters" element="tns:listarClientesResponse" />
  </message>
  <message name="modificarEmpresa">
    <part name="parameters" element="tns:modificarEmpresa" />
  </message>
  <message name="modificarEmpresaResponse">
    <part name="parameters" element="tns:modificarEmpresaResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="listarPorDocumentoNombre">
    <part name="parameters" element="tns:listarPorDocumentoNombre" />
  </message>
  <message name="listarPorDocumentoNombreResponse">
    <part name="parameters" element="tns:listarPorDocumentoNombreResponse" />
  </message>
  <message name="insertarPersonaNatural">
    <part name="parameters" element="tns:insertarPersonaNatural" />
  </message>
  <message name="insertarPersonaNaturalResponse">
    <part name="parameters" element="tns:insertarPersonaNaturalResponse" />
  </message>
  <message name="modificarPersonaNatural">
    <part name="parameters" element="tns:modificarPersonaNatural" />
  </message>
  <message name="modificarPersonaNaturalResponse">
    <part name="parameters" element="tns:modificarPersonaNaturalResponse" />
  </message>
  <portType name="GestClientesWS">
    <operation name="insertarEmpresa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/insertarEmpresaRequest" message="tns:insertarEmpresa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/insertarEmpresaResponse" message="tns:insertarEmpresaResponse" />
    </operation>
    <operation name="listarClientes">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/listarClientesRequest" message="tns:listarClientes" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/listarClientesResponse" message="tns:listarClientesResponse" />
    </operation>
    <operation name="modificarEmpresa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/modificarEmpresaRequest" message="tns:modificarEmpresa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/modificarEmpresaResponse" message="tns:modificarEmpresaResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="listarPorDocumentoNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/listarPorDocumentoNombreRequest" message="tns:listarPorDocumentoNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/listarPorDocumentoNombreResponse" message="tns:listarPorDocumentoNombreResponse" />
    </operation>
    <operation name="insertarPersonaNatural">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/insertarPersonaNaturalRequest" message="tns:insertarPersonaNatural" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/insertarPersonaNaturalResponse" message="tns:insertarPersonaNaturalResponse" />
    </operation>
    <operation name="modificarPersonaNatural">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/modificarPersonaNaturalRequest" message="tns:modificarPersonaNatural" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/GestClientesWS/modificarPersonaNaturalResponse" message="tns:modificarPersonaNaturalResponse" />
    </operation>
  </portType>
  <binding name="GestClientesWSPortBinding" type="tns:GestClientesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorDocumentoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersonaNatural">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPersonaNatural">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GestClientesWS">
    <port name="GestClientesWSPort" binding="tns:GestClientesWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/GestClientesWS" />
    </port>
  </service>
</definitions>