QingYunSoft/Connected Services/GestClientesWS/GestClientesWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="insertarEmpresa" type="tns:insertarEmpresa" />
  <xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse" />
  <xs:element name="insertarPersonaNatural" type="tns:insertarPersonaNatural" />
  <xs:element name="insertarPersonaNaturalResponse" type="tns:insertarPersonaNaturalResponse" />
  <xs:element name="listarClientePorDocumentoNombre" type="tns:listarClientePorDocumentoNombre" />
  <xs:element name="listarClientePorDocumentoNombreResponse" type="tns:listarClientePorDocumentoNombreResponse" />
  <xs:element name="listarClientes" type="tns:listarClientes" />
  <xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />
  <xs:element name="modificarEmpresa" type="tns:modificarEmpresa" />
  <xs:element name="modificarEmpresaResponse" type="tns:modificarEmpresaResponse" />
  <xs:element name="modificarPersonaNatural" type="tns:modificarPersonaNatural" />
  <xs:element name="modificarPersonaNaturalResponse" type="tns:modificarPersonaNaturalResponse" />
  <xs:complexType name="insertarPersonaNatural">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaNatural" type="tns:personaNatural" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaNatural">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:cliente">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellido" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="fechaDeNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="numDeDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDeDocumento" type="tns:tipoDeDocumento" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaNaturalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaNatural">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaNatural" type="tns:personaNatural" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaNaturalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:cliente">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="RUC" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientePorDocumentoNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="docNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientePorDocumentoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Masculino" />
      <xs:enumeration value="Femenino" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDeDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
      <xs:enumeration value="Pasaporte" />
      <xs:enumeration value="PNAC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>